attrs
click
Flask
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
more-itertools
packaging
pluggy
psycopg2
py
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pytest
python-dotenv
SQLAlchemy
wcwidth
Werkzeug
